/AcquisizioneORV.py
/aggiornajson.py
/apriprocesso.py
/comparatore.py
/output_ordine_1.json
/output_ordine_2.json
/provaCREAORV.PY
/report_aggiornamento.json
/report_creazione.json
/report_creazione1.json
/report_eliminazione.json
/report_lettura.json
/TestCompleto2.py
/TestCompletoORV copy.PY
/TestCompletoORV.PY
/TestCreaORVdaOPV.py
/TestDocumenti.py
/test_rest.http